.about_container {
  display: flex;
  justify-content: center;
  color: white;
  height: 100%;
}

.text_container {
  margin-bottom: 2rem;
}

.buffer_box {
  background: green;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
  margin-bottom: 2rem;
}