@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

:root {
  font-size: 62.5%
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}
