.links_container {
  position: fixed;
  color: white;
  font-size: 2em;
  width: 100vw;
  height: 60px;
  background-color: rgba(200, 255, 255, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.links_wrapper {
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: left;
}

.link {
  background: transparent;
  border: solid 1px white;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 48px;
  font-size: 0.4em;
  border-radius: 5px;
  color: #FFF;
  display: flex;
  align-items: center;
}

.link:hover {
  background: #333;
  cursor: pointer;
}

.wallets {
  background: transparent;
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.space {
  background: transparent;
  margin-right: 2px;
}

.button {
  color: #FFF;
  background: transparent;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 5px;
  width: 48px;
  height: 48px;
}

.button:hover {
  background: #333;
  cursor: pointer;
}