.links_container {
  position: fixed;
  color: white;
  font-size: 2em;
  width: 100vw;
  height: 60px;
  background-color: rgba(200, 255, 255, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.links_wrapper {
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: left;
}

.link {
  background: transparent;
  color: #000;
}

.wallets {
  background: transparent;
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.space {
  background: transparent;
  margin-right: 2px;
}

.button {
  color: black;
  margin: 2px;
}