.links_container {
  color: white;
  font-size: 2em;
  width: 100vw;
  height: 60px;
  background: #00B8D5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.links_wrapper {
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: left;
}

.link {
  color: #000;
}

.wallets {
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.space {
  margin-right: 2px;
}

.button {
  color: black;
  margin: 2px;
}