.login_wrapper {
  margin: 0 auto;
  background: white;
  height: 100vh;
  width: 100vw;
}

.login_form_wrapper {
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login_wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login_wrapper input[type=password] {
  background: #eee;
  color: #000;
}

.login_wrapper button {
  background: #444;
  color: #ccc;
  border-radius: 2%;
  padding: 5px;
}
