.manager_selection {
  display: flex;
  width: 100%;
}

.manager_selection button {
  border: none;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.manager_selection_button_selected {
  z-index: 1;
  width: 50%;
  height: 2.85rem;
  margin-top: 0.5%;
  box-shadow: 2px 1px 5px;
  background: rgb(30, 176, 255);
}

.manager_selection_button_unselected {
  z-index: 0;
  width: 50%;
  height: 3rem;
  margin-top: 0.5%;
  background: rgb(222, 222, 222);
}