.message_wrapper {
  background: white;
  height: 100vh;
  width: 100vw;
}

.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  background: white;
}

.message_container textarea {
  background: white;
  color: black;
}

.messages_display {
  width: 100%;
  color: black;
  list-style-type: none;
  padding-bottom: 40px;
}

.messages_display ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages_display li {
  margin: 2px;
}

.messages_row_user {
  background: #90ff81;
}

.messages_row {
  background: #56daff
}

.message_message {
  color: #333;
}

.message_user {
  color: red;
}

.message_created_at {
  font-size: 0.05em;
}
